<div class="container">
    <div class="row">
        <div class="col-12" style="max-width: 500px; margin: 0 auto 25px; padding: 7px 20px; box-sizing: border-box; background-color: #464646; color: #b5b5b5; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
            © <a href="https://www.cleveroad.com" style="color: inherit;">Cleveroad</a>,
            2014-<%= (new Date()).getFullYear() %>. All rights reserved <span style="color: #464646"><%= Math.random() %></span> <!-- gmail hide cutting down repeated parts of mails. This code makes the footer unique -->
        </div>
    </div>
</div>

