<div style="color: transparent; height: 0; overflow: hidden;">
    Cleveroad Staff - website designed for Cleveroad employees to help them in organizing their working process.
</div>
<div style="max-width: 500px; margin: 25px auto 0; background-color: #313b72; height: 100px;">
    <div style="width: 100px; display: inline-block;">
        <img style="width: 100%;" src="https://www.cleveroad.com/images/logo-greyscaled.png" />
    </div>
    <div style="display: inline-block; vertical-align: top; margin-top: 25px;">
        <div style="font-family: 'Arial Black', Gadget, sans-serif; font-size: 22px; letter-spacing: 1px; color: #8d92b1;">
            CLEVEROAD STAFF
        </div>
        <div style="font-family: 'Trebuchet MS', Helvetica, sans-serif; color: #8d92b1; font-size: 16px;">
            Be clever, follow the right road!
        </div>
    </div>
</div>
