<%= header %>

<div style="font-family: Arial, Helvetica, sans-serif; max-width: 480px; margin: 15px auto;">
    <div style="margin: 7px 0; color: #151515; font-size: 16px;">Greetings, <%= userName %>!</div>
    <div style="font-size: 14px; margin-bottom: 5px; color: #1b1b1b; text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus, magna vitae luctus pellentesque, magna eros efficitur lectus, quis ultrices nisl odio eget lacus.
    </div>
    <div style="font-size: 14px; margin-bottom: 5px; color: #1b1b1b; text-align: justify;">
        Phasellus viverra, ante eget malesuada mattis, leo tellus condimentum massa, vel euismod neque magna at magna. Suspendisse rhoncus ante at vulputate commodo.
    </div>
    <div style="font-size: 14px; margin-bottom: 5px; color: #1b1b1b; text-align: justify;">
        Visit <a style="color: #313b72; text-decoration: none; border-bottom: 1px solid;" href="<%= URL %>">CR staff website</a> to discover more.
    </div>
</div>

<%= footer %>
